<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Dashboard with Sliders and Music Player</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
<link rel='stylesheet' href=''><link rel="stylesheet" href="dic/swiper/swiper.css">
<link rel="stylesheet" href="dic/bootstrap/bootstrap.css">
<link rel="stylesheet" href="music.css">
<link rel="stylesheet" href="style.css">
  </head>
    
   <header class="header" id="header">
            <nav class="nav px-3">
                <a href="#" class="nav__logo">Marlon</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">
                          <i class="fa-solid fa-user"></i>
                       پروفایل
                            </a>
                        </li>
                    

                        <li class="nav__item searchbox">
                            <a href="#skills" class="nav__link">
                       <i class="fa-solid fa-magnifying-glass"></i>
                                <span class="nav__name">جستجو
                                </span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#portfolio" class="nav__link">
<i class="fa-solid fa-bookmark"></i>
                                <span class="nav__name">ذخیر</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#contactme" class="nav__link">
                               <i class="fa-solid fa-bars"></i>
                                <span class="nav__name">دسته بندی</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <img src="assets/img/perfil.png" alt="" class="nav__img">
            </nav>
        </header>
  <body>
 <div class="container-fluid px-3 mt-5">
  <div class="row gx-4">
           

            <!--=============== HOME ===============-->
           
 
    

    <div class="col-md-8">
          <div class="slider-container">
            <h1 class="textweb">پلی لیست های جدید</h1>
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="https://wallpapercat.com/w/full/2/5/f/158856-3840x2160-desktop-4k-walle-wallpaper-photo.jpg" />
                  <div class="slide-overlay img-fluid rounded mx-auto d-block">
                    <h2>انیمیشن ها</h2>

                    <a href="MP/album/index.html"> گوش میدم <i class="fa-solid fa-circle-play"></i></a>
              
                  </div>
                </div>
                <div class="swiper-slide">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/6ddf81f5-2689-4f34-bf80-a1e07f14621c" />
                  <div class="slide-overlay img-fluid rounded mx-auto d-block">
                    <h2>Party Starters</h2>
                           <a href=""> گوش میدم <i class="fa-solid fa-circle-play"></i></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ab52d9d0-308e-43e0-a577-dce35fedd2a3" />
                  <div class="slide-overlay img-fluid rounded mx-auto d-block">
                    <h2>Relaxing Tones</h2>
                          <a href=""> گوش میدم <i class="fa-solid fa-circle-play"></i></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/20c8fdd5-9f4a-4917-ae90-0239a52e8334" />
                  <div class="slide-overlay img-fluid rounded mx-auto d-block">
                    <h2>Smooth Jazz Journey</h2>
                         <a href=""> گوش میدم <i class="fa-solid fa-circle-play"></i></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/df461a99-2fb3-4d55-ac16-2e0c6dd783e1" />
                  <div class="slide-overlay img-fluid rounded mx-auto d-block">
                    <h2>Uplifting Rhythms</h2>
                          <a href=""> گوش میدم <i class="fa-solid fa-circle-play"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="artists">
            <h1 class="textweb">هنرمند های محبوب</h1>
            <div class="artist-container containers">
              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c8feaa0f-6ae7-4c69-bb7d-4a11de76b4f5"
                  alt="" /></div>
                <p>Taylor Swift</p>
              </div>

              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/bf80314e-5a02-4702-bb64-eae8c113c417"
                  alt="" /></div>
                <p>The Weeknd</p>
              </div>

              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e4576af8-0e84-4343-8f90-7a01acb9c8b7"
                  alt="" /></div>
                <p>Dua Lipa</p>
              </div>

              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d8eb2888-1e74-4117-82d7-833ad29e3cc1"
                  alt="" /></div>
                <p>Jimin</p>
              </div>

              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/f23adc16-11d7-41dc-af6a-191e03a81603"
                  alt="" /></div>
                <p>Alicia Keys</p>
              </div>

              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/f511c102-3217-4bea-bede-8be23b969bd8"
                  alt="" /></div>
                <p>Maroon 5</p>
              </div>

              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/9a8bd237-b525-43e6-a37c-daaac39db8ce"
                  alt="" /></div>
                <p>Imagine Dragons</p>
              </div>

              <div class="artist">
                <div class="artist-img-container"><img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/99452c85-26f4-4ccd-b439-7d1bd3875634"
                  alt="" /></div>
                <p>Billie Eilish</p>
              </div>
            </div>
          </div>

          <div class="albums">
            <h1 class="textweb">آلبوم های پیشنهادی</h1>
            <div class="album-container containers">
              <div class="album">
                <div class="album-frame">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/74c4f0f9-d73e-4737-83fa-ea4afe392229"
                    alt="" />
                </div>
                <div>
                  <h2>Views</h2>
                  <p>Drake</p>
                </div>
              </div>

              <div class="album">
                <div class="album-frame">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d3a0bac0-fdb4-467e-bdf5-f3f415928f24"
                    alt="" />
                </div>
                <div>
                  <h2>Speak Now</h2>
                  <p>Taylor Swift</p>
                </div>
              </div>

              <div class="album">
                <div class="album-frame">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/85521a12-cc46-4b9f-a742-21ba407ebd5e"
                    alt="" />
                </div>
                <div>
                  <h2>Born to Die</h2>
                  <p>Lana Del Rey</p>
                </div>
              </div>

              <div class="album">
                <div class="album-frame">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4e7bf466-7fa5-4dad-b628-5bca12833b64"
                    alt="" />
                </div>
                <div>
                  <h2>Endless</h2>
                  <p>Miley Cyrus</p>
                </div>
              </div>

              <div class="album">
                <div class="album-frame">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/f01f546a-7ab7-4e90-acb9-1c1e817b676d"
                    alt="" />
                </div>
                <div>
                  <h2>The Dark Side</h2>
                  <p>Pink Floyd</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
<div id="app">
    
     

  <div class="recommended-songs">
      <h1 class="textweb">آهنگ های جدید</h1>
      <div class="song-container">

        <div class="track-list" ref="trackList">
       <div
  class="song"
  v-for="(track, index) in tracks"
  :key="index"
  :class="{ active: index === currentTrackIndex }"
  @click="selectTrack(index)"
>

          <div class="song-img">
            <img :src="track.cover" :alt="track.name" />
           
          </div>
          <div class="song-title">
            <h2>{{ track.artist }}</h2>
            <p>{{ track.name }}</p>
          </div>
          <span>{{ track.duration || '...' }}</span>


</div>
        </div>
      </div>
    </div>

<div class="wrapper">
      <div class="player">
        <div class="player__top">
          <div class="player-cover">
            <transition-group :name="transitionName">
              <div
                class="player-cover__item img-fluid rounded mx-auto d-block"
                v-if="$index === currentTrackIndex"
                :style="{ backgroundImage: `url(${track.cover})` }"
                v-for="(track, $index) in tracks"
                :key="$index"
              ></div>
            </transition-group>
          </div>





          
          <div class="player-controls">
            <div
              class="player-controls__item -favorite"
              :class="{ active: currentTrack.favorited }"
              @click="favorite"
            >
              <i class="fas fa-heart"></i>
            </div>

            <a
              :href="currentTrack.url"
              target="_blank"
              class="player-controls__item"
            >
              <i class="fas fa-link"></i>
            </a>

            <div class="player-controls__item" @click="prevTrack">
              <i class="fas fa-backward"></i>
            </div>

            <div class="player-controls__item" @click="nextTrack">
              <i class="fas fa-forward"></i>
            </div>

            <div class="player-controls__item -xl js-play" @click="play">
              <i class="fas" :class="isTimerPlaying ? 'fa-pause' : 'fa-play'"></i>
            </div>
          </div>
        </div>

        <div ref="progress">
          <div class="progress__top">
            <div class="album-info" v-if="currentTrack">
              <div class="album-info__name">{{ currentTrack.artist }}</div>
              <div class="album-info__track">{{ currentTrack.name }}</div>
            </div>
            <div class="progress__duration">{{ duration }}</div>
          </div>

          <div class="progress__bar"
               @mousedown="dragStart"
               @touchstart="dragStart"
               @click="clickProgress">
            <div class="progress__buffered" :style="{ width: bufferedWidth }"></div>
            <div class="progress__current" :style="{ width: barWidth }"></div>
            <div class="progress__circle" :style="{ left: circleLeft }"></div>
          </div>

          <div class="progress__time">{{ currentTime }}</div>
        </div>
      </div>

      

      
    </div>

</div>





     </div>





     </div>










   </div>

     


<footer class="footer py-4 text-center w-100 mt-4">
  <div class="container-fluid">
    <div class="d-flex justify-content-center flex-wrap gap-3">
      <a href="https://t.me/yourusername" target="_blank" class="btn btn-outline-light d-flex align-items-center gap-2">
        <i class="fab fa-telegram"></i>
        <span>تلگرام</span>
      </a>

<a href="http://www.coffeete.ir/psycho">
       <img src="http://www.coffeete.ir/images/buttons/lemonchiffon.png" style="width:260px;" />
</a>
    </div>
  </div>
</footer>

  <!-- 🔍 جستجو تمام‌صفحه -->
<!-- 🔍 پنجره جستجو -->
<div class="search-overlay" id="searchOverlay">
  <div class="search-box d-flex align-items-center">
    <input type="text" id="searchInput" class="form-control flex-grow-1" placeholder="جستجو کنید...">
    <button class="btn btn-search ms-2">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>


  </body>



    <script src=''></script><script  src="dic/swiper/swiper.js"></script>
<script src="dic/bootstrap/bootstrap.js"></script>

<script src="script.js"></script>

  <!-- Vue.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>

<!-- Font Awesome برای آیکون‌ها -->
<script src="script.js"></script>
<script src="music.js"></script>

</html>
